asgiref==3.8.1
attrs==23.2.0
Django==5.0.9
firebird-driver==1.10.4
future==1.0.0
importlib-metadata==1.5.0
mock==4.0.1
more-itertools==8.2.0
packaging==24.1
pluggy==1.5.0
py==1.10.0
pyparsing==2.4.6
pytest==8.2.2
pytz==2024.1
sphinx-bootstrap-theme==0.8.1
sqlparse==0.5.1
testcase==0.1.0
toolz==0.10.0
wcwidth==0.2.13
zipp==3.19.1
